<div id="_cta1__" class="call-to-action">
        <!-- The name is <span data-bind="text: test"></span> -->
    <button id = "____fake-trigger" style = "opacity: 1" data-bind = "click: InitObj"></button>
    <button id="_cta1__btn">X</button>
    <table width="100%">
        <tr>
            <td style="height: 60px; overflow: hidden;" class="_____ctaside1" width="30%">
                <div id="fake-newline"><br><br><br><br><br></div>
                <div id = "______img_border">
                    <div style="text-align: center" class="_______image" id="_____cta_____1editor_img">
                        Image
                    </div>
                </div>

            </td>
            <td class="_____ctaside2" width="70%" style = "padding: 0px; margin: 0px">                  
                <div class = "______content_border">
                    <div id="_____cta_____1editor">
                       
                        <p data-bind = "html: InitObj()"></p>
                    </div>
                    <p><a data-bind="click: TestFunc" href="#" class="cta-btn">CLICK HERE</a></p>
                </div>
            </td>
        </tr>
    </table>
</div>
